/* NAVBAR STUFF */
.navbar > .content > .navbar-wrapper {
  margin: 0;
  padding-left: 0px;
}

.navbar a.navbar-brand {
  font-size: 32px;
  font-weight: 500;
  padding: 10px 10px;
}

.navbar-logo {
  float: left;
  height: 45px;
  max-width: 100px;
  padding: 2px;
}

/* FOOTER STUFF */
.footer > .content {
  padding-left: 30px;
}


/* STATION FORM STUFF */
.station-info-entry {
  display: block;
  width: 60%;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 30px;
}

.station-info-entry > p{
  font-size: 20px;
}

.form-control {
  font-size: 20px;
  height: 45px;
  width: 500px;
}

.postcode {
  width: 300px;
}

.form-login {
  width: 400px;
}

/* VOTER TABLE STUFF */
.voterdb-btn {
  padding: 6px 12px 4px 12px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead > tr {
  font-size: 18px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Outcome map things */
#outcomeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  background-color: #FFFFFF;
}

#outcomeMapContainer {
  width: 54%;
  background-color: #FFFFFF;
  order: 2;
}

#outcomeMap {
  overflow: hidden;
  position: relative;
  background-color: #FFFFFF;
}

#tooltipContainer {
  background-color: #FFFFFF;
  width: 45%;
  /* order: 1;
  margin-top: 300px; */
}

.map-chart {
  padding: 0 20px;
}

.swinglia-g {
  pointer-events: all;
}

#tooltipContainer {
  background-color: #FFFFFF;
  width: 45%;
  /* order: 1;
  margin-top: 300px; */
}

.swinglia-g {
  fill: none;
  stroke: #FFFFFF;
  stroke-linejoin: round;
  stroke-width: 0.4;
}

.safeguard-fill {
  fill: #0034DB;
}

.employment-fill {
  fill: #DD0000;
}

.lemonade-fill {
  fill: #F4E800;
}

.bends-fill {
  fill: #DB00D1;
}

.safeguard-color {
  color: #0034DB;
}

.employment-color {
  color: #DD0000;
}

.lemonade-color {
  color: #D7CC00;
}

.bends-color {
  color: #DB00D1;
}

.safeguard-rgba {
  background-color: rgba(0, 52, 219, 0.5);
}

.employment-rgba {
  background-color: rgba(221, 0, 0, 0.5);
}

.lemonade-rgba {
  background-color: rgba(244, 232, 0, 0.5);
}

.bends-rgba {
  background-color: rgba(219, 0, 209, 0.5);
}

.map-tooltip {
  text-align: left;
  padding: 0;
  font: 16px sans-serif;
  box-sizing: border-box;
}

.map-tooltip img {
  padding-top: 20px;
}

.map-tooltip p {
  margin: 0;
  padding: 5px 20px;
}

.map-tooltip h2 {
  margin: 0px 0px 0.5em;
  padding: 10px 20px;
}

/* FALLBACK COLOURS */

.st0{fill:#0034DB;stroke:#000000;stroke-width:0.3;}
.st1{fill:#F4E800;stroke:#000000;stroke-width:0.3;}
.st2{fill:#00AF08;stroke:#000000;stroke-width:0.3;}
.st3{fill:#02CECE;stroke:#000000;stroke-width:0.3;}
.st4{fill:#DB00D1;stroke:#000000;stroke-width:0.3;}
.st5{fill:#FDBB30;stroke:#000000;stroke-width:0.3;}
.st6{fill:#DD0000;stroke:#000000;stroke-width:0.3;}
.st7{fill:#7F00D1;stroke:#000000;stroke-width:0.3;}
.st8{fill:#727272;stroke:#000000;stroke-width:0.3;}
